{% extends "base.html" %}
{% block title %}Confirmation Secondary{% endblock %}

{% block content %}
{% from "formHelper.html" import render_field %}

<h1 class="display-4">Listed Successfully.</h1>
<form method="POST">
    <div class="container p-5 my-5 border">
        <div class="container-fluid">
            <p><strong>Name:</strong> {{ form.name.data }}</p>
        </div>
        <div class="container mt-3">
            <p><strong>Email:</strong> {{ form.email.data }}</p>
        </div>
        <div class="container mt-3">
            <p><strong>Contact Number:</strong> {{ form.contact_number.data }}</p>
        </div>
        <div class="container mt-3">
            <p><strong>Payment ID:</strong> {{ form.payment_id.data }}</p>
        </div>
        <div class="container mt-3">
            <p><strong>Amount:</strong> {{ form.amount.data }}</p>
        </div>
        <button type="submit" value="Back" class="btn btn-primary">Back to Home Page</button>
        <button type="submit" value="Retrieve Listing" class="btn btn-primary">Retrieve Listing</button>
    </div>
</form>
{% endblock %}