{% extends "base.html" %}
{% block title %}Confirmation Primary{% endblock %}

{% block content %}
{% from "formHelper.html" import render_field %}

<h1 class="display-4">Payment Confirmation - You have purchased a ticket.</h1>
<form method="GET">
    <div class="container p-5 my-5 border">
         <table>
            <thead>
                <tr>
                    <th>Payment ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ payment.payment_id }}</td>
                    <td>{{ payment_form.name }}</td>
                    <td>{{ payment_form.email }}</td>
                    <td>{{ payment_form.amount }}</td>
                </tr>
            </tbody>
        </table>
        <button type="submit" value="Back" class="btn btn-primary">Back to Home Page</button>
    </div>
</form>
{% endblock %}