{% extends 'base.html' %}

{% block content %}
{% from "formHelper.html" import render_field %}

    <div class="payment_primary">
        <h1>Payment</h1>

        {% if tickets %}
            <table class="tickets-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Event Name</th>
                        <th>Seat Information</th>
                        <th>Price</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.ticket_id }}</td>
                            <td>{{ ticket.event_name }}</td>
                            <td>{{ ticket.status }}</td>
                            <td>{{ ticket.seat_number }}</td>
                            <td>{{ ticket.seat_row }}</td>
                            <td>{{ ticket.seat_section }}</td>
                            <td>{{ ticket.seat_type }}</td>
                            {% endfor %}
                            <td>${{ "%.2f"|format(amount.total) }}</td>
                            <td>${{ "%.2f"|format(amount.base_price) }}</td>
                            <td>${{ "%.2f"|format(amount.platform_fee) }}</td>
                            <td>${{ "%.2f"|format(amount.GST) }}</td>
                        </tr>
                </tbody>
            </table>

        <form method="POST" action="">
            <div class="form-group">
                {{ render_field(forms.payment_method, class="form-check", style="list-style-type:none") }}
            </div>
            <div class="form-group">Card:
                <select name="sales_type">
                    <option>{{ render_field(forms.card_number, class="form-control") }}</option>
                    <option>{{ render_field(forms.expiry_date, class="form-control") }}</option>
                    <option>{{ render_field(forms.cvv, class="form-control") }}</option>
                </select>
            </div>

            <button type="submit" value="Submit" class="btn btn-primary">Purchase</button>
        </form>
        {% else %}
            <p>Select a Ticket.</p>
        {% endif %}
    </div>
{% endblock %}
<section>
                <div class="container mt-3">
                    <label for="card_number">Card Number:</label>
                    <input type="number" name="card_number">
                </div>
                <div class="container mt-3">
                    <label for="expiry_date">Expiry Date:</label>
                    <input type="date" name="expiry_date">
                </div>
                <div class="container mt-3">
                    <label for="cvv">CVV:</label>
                    <input type="number" name="cvv">
                </div>
            </section>
